@using System.Data;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>OPC</title>
    <meta content="" name="description">
    <meta content="Author" name="MJ Maraz">
    <link href="~/assets/images/logo.png" rel="icon">
    <link href="~/assets/images/favicon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!-- ========================================================= -->


    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/datatables.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">






</head>
<!-- =============== Design & Develop By = MJ MARAZ   ====================== -->

<body>
    <header class="header_part">
        <img src="~/assets/images/logo.png" alt="" class="img-fluid">
        <h4>Báo Cáo Bảng Kê Chứng Từ</h4>
    </header>
    <!-- =======  Data-Table  = Start  ========================== -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="data_table">
                    <table id="example" class="table table-striped table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th>Ngày Chứng từ</th>
                                <th>Số Chứng Từ</th>
                                <th>Mã Đối Tượng</th>
                                <th>Tên Đối Tượng</th>
                                <th>Mã Vt</th>
                                <th>Tên Vật Tư</th>
                                <th>mã KM</th>
                                <th>Loại vật Tư</th>
                                <th>Số Lượng</th>
                                <th>Tiền (-VAT)</th>
                                <th>Tiền (+VAT)</th>
                                <th>Tình Trạng</th>
                                <th>Mã Đvcs</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow row2 in Model.Tables[0].Rows)
                            {
                                <tr>
                                    <td>@row2["Ngay_Ct"]</td>
                                    <td>@row2["so_ct"]</td>
                                    <td>@row2["ma_dt"]</td>
                                    <td>@row2["ten_dt"]</td>
                                    <td>@row2["ma_vt"]</td>
                                    <td>@row2["ten_vt"]</td>
                                    <td>@row2["Ma_Km"]</td>
                                    <td>@row2["Loai_Vt"]</td>
                                    <td class="num">@String.Format("{0:n0}", Convert.ToDecimal(row2["so_luong"]))</td>
                                    <td class="num">@String.Format("{0:n0}", Convert.ToDecimal(row2["Tien"]))</td>
                                    <td class="num">@String.Format("{0:n0}", Convert.ToDecimal(row2["Tong_tien"]))</td>
                                    <td>@row2["Tinh_trang"]</td>
                                    <td>@row2["Ma_Dvcs1"]</td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- =======  Data-Table  = End  ===================== -->
    <!-- ============ Java Script Files  ================== -->


    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/datatables.min.js"></script>
    <script src="~/assets/js/pdfmake.min.js"></script>
    <script src="~/assets/js/vfs_fonts.js"></script>
    <script src="~/assets/js/custom.js"></script>




</body>

</html>
